<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}{% endblock %}</title>
        {% load static %}
        {% load custom_tags %}
        <!-- Bootstrap -->
        <link href="{% static 'core/css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- Custom css -->
        <link href="{% static 'core/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid nav-container">
                    <a class="navbar-brand" href="#"><img src="{% static 'core/img/Logotipo-Oscuro.png' %}" alt="" class="img-logo"></a>
                    <button
                        class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div
                        class="collapse navbar-collapse justify-content-end"
                        id="navbarSupportedContent">
                        <ul class="navbar-nav mb-lg-0">
                            <li class="nav-item">
                                <a
                                    class="nav-link active"
                                    aria-current="page"
                                    href="{% url 'home' %}"
                                    >Inicio</a
                                >
                            </li>
                            

                            {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'catalogo' %}">Catalogo</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a
                                    class="nav-link dropdown-toggle"
                                    href="#"
                                    role="button"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    {{ user.username }}
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" href="{% url 'logout' %}"
                                            >Cerrar Sesión</a
                                        >
                                    </li>
                                </li>
                                {% else %}
                                <li class="nav-item dropdown">
                                    <a
                                        class="nav-link dropdown-toggle"
                                        href="#"
                                        role="button"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        Cuenta
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="dropdown-item" href="{% url 'signin' %}"
                                                >Iniciar Sesión</a
                                            >
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="{% url 'signup' %}"
                                                >Crear cuenta</a
                                            >
                                        </li>
                                    </li>
                                
                                    {% endif %}
                                </ul>
                                {% if user.is_authenticated %}
                                {% if user.is_authenticated and user|is_admin %}
                                <li class="nav-item dropdown">
                                    <a
                                        class="nav-link dropdown-toggle"
                                        href="#"
                                        role="button"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        Productos
                                    </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" href="{% url 'anadir_producto' %}">Añadir</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{% url 'modificar_productos' %}"
                                            >Ver lista</a
                                        >
                                    </li>
                                </ul>
                                {% else %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'carrito' %}">Carrito</a>
                                </li>
                                {% endif %}
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <main>
            {% block content %} {% endblock %}
        </main>

        <footer>
            <div class="rrss">
                <a href=""><img src="{% static 'core/img/logotipo-de-instagram.png' %}" alt="" class="rrss-logo"></a>
                <a href=""><img src="{% static 'core/img/logotipo-de-instagram.png' %}" alt="" class="rrss-logo"></a>
                <a href=""><img src="{% static 'core/img/logotipo-de-instagram.png' %}" alt="" class="rrss-logo"></a>
            </div>
        </footer>
        <script src="https://kit.fontawesome.com/ab252321e7.js" crossorigin="anonymous"></script>
        <script src="{% static 'js/fontawsome.js' %}"></script>

        <script src="{% static 'core/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'core/js/scripts.js' %}"></script>
    </body>
</html>
