{% extends 'core/base.html' %}

{% block title %}
Producto
{% endblock %}

{% block content %}
{% load static %}

<div class="container my-5">
    <div class="row justify-content-center">
        <!-- Inicio Formulario -->
        <div class="col-md-5">
        <div class="contenedorFormulario">
            <form class="py-4 px-4 mb-3 d-flex flex-column justify-content-center align-items-center" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="id_nombreProducto">Nombre producto:</label>
                    <input type="text" name="nombre" id="id_nombreProducto">
                </div>
                <div class="mb-3">
                    <label for="id_nombre">Descripción:</label>
                    <textarea name="descripcion" id="" cols="30" rows="10"></textarea>
                </div>
                <div class="mb-3">
                    <label for="id_apellido">Precio:</label>
                    <input type="text" name="precio" id="id_apellido">
                </div>
                <div class="mb-3">
                    <label for="id_contrasena">Imagen:</label>
                    <input type="text" name="imagen" id="id_contrasena">
                </div>
                <button id="modal-button" type="submit">Añadir</button>
            </form>

        <!-- Fin Formulario -->
    </div>
</div>

{% endblock %}