{% extends 'core/base.html' %}

{% block title %}
Producto
{% endblock %}

{% block content %}
{% load static %}

<div class="container my-5">
    <div class="row justify-content-center">
        <!-- Inicio Formulario -->
        <div class="col-md-5">
        <div class="contenedorFormulario">
            <form class="py-4 px-4 mb-3 d-flex flex-column justify-content-center align-items-center" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="id_nombreProducto">Nombre producto:</label>
                    <input type="text" name="nombreProducto" id="id_nombreProducto">
                </div>
                <div class="mb-3">
                    <label for="id_nombre">Descripción:</label>
                    <textarea name="descripcion" id="" cols="30" rows="10"></textarea>
                </div>
                <div class="mb-3">
                    <label for="id_apellido">Apellido:</label>
                    <input type="text" name="apellido" id="id_apellido">
                </div>
                <div class="mb-3">
                    <label for="id_contrasena">Contraseña:</label>
                    <input type="password" name="contrasena" id="id_contrasena">
                </div>
                <div class="mb-3">
                    <label for="id_tipo_cuenta">Tipo de cuenta:</label>
                    <select name="tipo_cuenta" id="id_tipo_cuenta">
                        <option value="1">Administrador</option>
                        <option value="2">Cliente</option>
                    </select>
                </div>
                <button type="submit">Registrar</button>
            </form>
        <!-- Fin Formulario -->
    </div>
</div>

{% endblock %}