{% extends 'core/base.html' %}

{% block title %}
Catalogo
{% endblock %}

{% block content %}
{% load static %}

<div class="container-fluid d-flex flex-wrap">
{% for i in product %}

  <div class="card product-card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ i.nombre }}</h5>
        <p class="card-text">${{ i.precio }}</p>
        <form method="POST">
          {% csrf_token %}
          <input type="hidden" name="product_id" value="{{ i.id_producto }}">
          <input type="hidden" name="producto" value="{{ i.nombre }}">
          <input type="hidden" name="carrito_id" value="{{ carrito.id }}">
          <input type="hidden" name="cantidad" value="1">
          <input type="hidden" name="precio" value="{{ i.precio }}">
          <button type="submit" class="btn btn-primary">Agregar</button>
      </form>
      </div>
  </div>

{% endfor %}
</div>

{% endblock %}